/* :root {
  --nav-light-color: #d74d6f;
  --nav-dark-color: #145045;

  --accent-text-lvl-1-light-color: #eacbc4;
  --accent-text-lvl-1-dark-color: #70a9ad;

  --accent-text-lvl-2-light-color: #f4dfe1;
  --accent-text-lvl-2-dark-color: #1f6f71;

  --accent-text-lvl-3-light-color: #d6888f;
  --accent-text-lvl-3-dark-color: #144e4f;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: var(--nav-light-color);
  color: var(--accent-text-lvl-2-light-color);

} */



/* @media (min-width:450px) {
  
} */