@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Oswald:wght@400;500;600&display=swap');

/*
  WORKING FOR 600PX AND BIGGER
  WILL MAKE RESPONSIVE AFTER FINE-TUNING DETAILS WITH REACT
*/

:root {
  /* color-scheme: light dark; */

  --nav-light-color: #d74d6f;
  --nav-dark-color: #145045;

  --nav-light-color--darker: #a03a54;
  --nav-dark-color--darker: #0c2f28;

  --accent-text-lvl-1-light-color: #eacbc4;
  --accent-text-lvl-1-dark-color: #70a9ad;

  --accent-text-lvl-2-light-color: #f5e8ea;
  /* --accent-text-lvl-2-light-color: #f4dfe1; */
  --accent-text-lvl-2-dark-color: #1f6f71;

  --accent-text-lvl-3-light-color: #d6888f;
  --accent-text-lvl-3-dark-color: #144e4f;

  
  --nav-light-color--lower-opacity: rgb(215, 77, 111, .5);
  --nav-dark-color--lower-opacity: rgb(20, 80, 69, 5);

  --accent-text-lvl-1-light-color--lower-opacity: rgb(234, 203, 196, .5);
  --accent-text-lvl-1-dark-color--lower-opacity: rgb(112, 169, 173, .5);

  --accent-text-lvl-2-light-color--lower-opacity: rgb(244, 223, 225, .5);
  --accent-text-lvl-2-dark-color--lower-opacity: rgb(31, 111, 113, .5);

  --accent-text-lvl-3-light-color--lower-opacity: rgb(214, 136, 143, .5);
  --accent-text-lvl-3-dark-color--lower-opacity: rgb(20, 78, 79, .5);

  --font-oswald: 'Oswald', sans-serif;
  --font-monserrat: 'Montserrat', sans-serif;

  font-family: var(--font-monserrat);
  font-size: 16px;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
background-color: var(--accent-text-lvl-1-light-color);
}

img {
  max-width: 100%;
}

nav {
  background-color: var(--nav-light-color);
  font-size: 1.8rem;
  display: flex;
  justify-content: space-evenly;
  padding: .3rem 1rem;
}

a {
  text-decoration: none;
  color: var(--accent-text-lvl-2-light-color);
  font-weight: 500;
}

form {
  display: flex;
  justify-content: space-around;
}

input[type="text"] {
  border: transparent solid 1px;
  border-radius: 8px;
  grid-area: input;
  height: 100%;
  width: 100%;
  font-size: 1.1rem;
  padding: .3em 1em;
  cursor: pointer;
  transition: border-color 0.25s;
}

input[type="text"]:focus,
input[type="text"]:focus-visible {
  outline: 4px auto var(--nav-light-color);
}

button {
  background-color: var(--nav-light-color);
  color: var(--accent-text-lvl-2-light-color);
  box-shadow: .2em .3em .4em var(--accent-text-lvl-1-light-color);
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;

  font-size: 1rem;
  font-weight: 600;
  align-self: center;
  grid-area: button;
  
  cursor: pointer;
  transition: border-color 0.25s, transform 0.4s;
  transform: scale(1);
}
button:hover {
  border-color: var(--accent-text-lvl-1-light-color);
  transform: scale(1.1);
}
button:focus,
button:focus-visible {
  outline: 4px auto var(--accent-text-lvl-2-light-color);
}

/* CONTAINERS */
.container {
  margin: 0 auto;
  padding: .5rem .8rem;
  text-align: center;
  /* border-radius: 8px; */
}

.form-container {
  padding: 0 1rem;
  display: grid;
  grid-template-areas: "slider input button" ;
  grid-template-columns: 10rem auto min-content;
  grid-gap: .5rem;
  place-items: center;
  width: 100%;
  max-width: 800px;
}
/* END CONTAINERS */

/* SLIDER */
.slider-label {
  grid-area: slider;
  display: grid;
  grid-template-areas: 'slider media_type';
  grid-template-columns: 4rem 6rem;
  gap: .25rem;
  position: relative;
  height: 100%;
  width: 100%;
  margin-right: .25rem;
}

.media-type {
  position: relative;
  grid-area: media_type;
  place-self: center;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 0em .2em .2em var(--nav-light-color--lower-opacity);
}

.slider {
  grid-area: slider;
  align-self: center;
  width: 4rem;
  height: 2.3rem;
  cursor: pointer;
  position: absolute;
  background-color: var(--nav-light-color);
  border-radius: 8px;
  transition: .4s;
}

.slider::before {
  position: absolute;
  content: '';
  border-radius: 50%;
  width: 1.7rem;
  height: 1.7rem;
  top: .3rem;
  left: .3rem;
  background-color: var(--accent-text-lvl-2-light-color);
  transition: .4s;
}

.input-checkbox[type="checkbox"]:checked + .slider::before {
  transform: translateX(1.7rem);
  background-color: var(--nav-light-color);
}

.input-checkbox[type="checkbox"]:checked + .slider {
  background-color: var(--accent-text-lvl-2-light-color);
}

.input-checkbox {
  display: none;
}
/* END SLIDER */

/* TYPOGRAPHY */
.title,
h1,
h3,
p {
  margin: 0;
}
.small,
.material-symbols-outlined {
  font-size: .9rem;
}
/* END TYPOGRAPHY */

/* START SEARCH AREA */
.search--area {
  margin: 0;
  padding: 1.5rem .5rem;
  display: flex;
  gap: .5rem;
  flex-direction: column;
  background-color: var(--accent-text-lvl-3-light-color--lower-opacity);
}

.search.title {
  font-family: var(--font-oswald);
  align-self: center;
  text-transform: uppercase;
  text-shadow: .2em .2em .3em var(--accent-text-lvl-2-light-color);
  font-weight: 600;
}
/* END SEARCH AREA */

/* START MOVIE CARD AREA*/
.movie-card {
  background: var(--accent-text-lvl-2-light-color);
  padding: 1.6rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin: .25rem 0;
  gap: 1.5rem;
}

.poster-image {
  order: 1;
  max-height: 500px;
}

  /* start movie-info sub-area */

.movie-info {
  order: 2;
  display: grid;
  grid-template-areas: 
    'title title . year'
    'rating rating rating rating'
    'summary summary summary summary'
    'genres genres genres genres'
    'btn btn btn btn';
  place-items: center;
  padding: 0 1rem .5rem;
  /* border: 1px solid #000;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.genres {
  grid-area: genres;
  justify-self: left;
  opacity: .8;
  margin: .2rem 0 .3rem;
}

.card-title {
  grid-area: title;
  font-size: 2rem;
  font-family: var(--font-oswald);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .3px;
  /* text-align: center; */
}

.date {
  grid-area: year;
  font-style: italic;
}

.rating-info {
  grid-area: rating;
  margin-top: .5rem;
  margin-bottom: 0;
  display: flex;
  align-items: baseline;
  gap: .2rem;
}

.summary {
  grid-area: summary;
  line-height: 1.7;
  letter-spacing: .4px;
  margin: .5rem 0;
  /* align-self: center; */
  /* margin-top: 1rem; */
}

.buttons-container {
  margin-top: .3rem;
  grid-area: btn;
}
  /* end movie-info sub-area */

/* END MOVIE CARD AREA*/

.watchlist--no-content{
  padding: 2.5em;
}

.description{
  text-align: center;
  font-size: 1.5rem;
}

.watchlist--redirect{
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.3rem;
}

.watchlist--redirect-a {
  color: var(--nav-light-color);
  font-weight: 600;
  text-transform: lowercase;
}

/* DETAILED MOVIE */
.movie--details-page {
  width: 100%;
  max-width: 800px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media--detailed {
  background-color: var(--accent-text-lvl-2-light-color);
  color: var(--nav-light-color--darker);
  border-radius: 16px;
  padding: 1rem;
  display: grid;
  gap: .5rem;
  place-items: center;
  grid-template-areas: 
  'back_btn . . .'
  'det_img det_img title det_rating'
  'det_img det_img tagline tagline'
  'det_img det_img rel_date website'
  'det_img det_img budget revenue'
  'det_img det_img genres runtime'
  'summary summary summary summary'
  'languaje languaje production production'
  'languaje languaje production production'
  '. button button .';
}

.back-btn {
  grid-area: back_btn;
  justify-self: start;
  margin-bottom: .8rem;
  display: flex;
  align-items: center;
  box-shadow: .2em .3em .6em var(--accent-text-lvl-3-light-color);
}
.back-btn>span {
  margin-right: .5rem;
}
.movie--poster {
  grid-area: det_img;
}
.movie--title {
  grid-area: title;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
  margin: 0;
  justify-self: right;
}
.movie--tagline {
  grid-area: tagline;
  font-style: italic;
}
.movie--website--container {
  grid-area: website;
}
.movie--website--container>a {
  color: var(--nav-light-color--darker);
  display: flex;
  align-items: center;
  gap: .2em;
}
.movie--rating-container {
  grid-area: det_rating;
  display: flex;
  align-items: center;
}
.movie--rating-container>p{
  font-size: .8rem;
}
.runtime {
  grid-area: runtime;
}
.budget {
  grid-area: budget;
}
.revenue {
  grid-area: revenue;
}
.rel_date {
  grid-area: rel_date;
}
.genres {
  grid-area: genres;
  text-align: center;
  opacity: 1;
}
.movie--details {
  padding: .5rem 0;
  grid-area: summary;
  text-align: justify;
}
.details_button {
  grid-area: button;
}
/* END DETAILED MOVIE */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
